@{
  ViewData["Title"] = "Home Page";
}

<div class="section">
  <h1 class="homeTitle animate__animated animate__backInRight">The Pie Gallery</h1>
  <div class="video-container">
    <div class="color-overlay"></div>
    <video autoplay loop muted>
      <source src="~/videos/video.mp4" type="video/mp4">
    </video>
  </div>
</div>

@*<html>

<head>
  <title>Parallax test | Vanilla JS</title>
  <link href="css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <a href="#" class="fa-font-awesome-logo-full">Logo</a>
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header>
  <section>
    <img src="images/stars.png" id="stars">
    <img src="/images/moon.png" id="moon">
    <img src="/images/mountains_behind.png" id="mountains_behind">
    <h2 id="text">Moon Light</h2>
    <a href="#sec" id="btn">Explore</a>
    <img src="/images/mountains_front.png" id="mountains_front">
  </section>
  <div class="sec" id="sec">
    <h2>Parallax Scrolling Effects</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque necessitatibus aperiam earum laudantium
      atque, nulla eaque cum odio optio totam pariatur ratione ab porro sunt quisquam suscipit officia magnam
      tenetur.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis repellendus harum, reprehenderit
      beatae accusamus ullam cum, quod dicta ipsam ex est voluptatum. Velit recusandae illo ipsa sapiente vitae
      cupiditate natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae maxime nisi quas natus saepe placeat
      odio earum beatae deleniti commodi labore officia voluptas, aut quidem provident. Similique omnis
      perspiciatis quam.
      <br><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque necessitatibus aperiam earum laudantium
      atque, nulla eaque cum odio optio totam pariatur ratione ab porro sunt quisquam suscipit officia magnam
      tenetur.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis repellendus harum, reprehenderit
      beatae accusamus ullam cum, quod dicta ipsam ex est voluptatum. Velit recusandae illo ipsa sapiente vitae
      cupiditate natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae maxime nisi quas natus saepe placeat
      odio earum beatae deleniti commodi labore officia voluptas, aut quidem provident. Similique omnis
      perspiciatis quam.
      <br><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque necessitatibus aperiam earum laudantium
      atque, nulla eaque cum odio optio totam pariatur ratione ab porro sunt quisquam suscipit officia magnam
      tenetur.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis repellendus harum, reprehenderit
      beatae accusamus ullam cum, quod dicta ipsam ex est voluptatum. Velit recusandae illo ipsa sapiente vitae
      cupiditate natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae maxime nisi quas natus saepe placeat
      odio earum beatae deleniti commodi labore officia voluptas, aut quidem provident. Similique omnis
      perspiciatis quam.

      <br><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque necessitatibus aperiam earum laudantium
      atque, nulla eaque cum odio optio totam pariatur ratione ab porro sunt quisquam suscipit officia magnam
      tenetur.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis repellendus harum, reprehenderit
      beatae accusamus ullam cum, quod dicta ipsam ex est voluptatum. Velit recusandae illo ipsa sapiente vitae
      cupiditate natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae maxime nisi quas natus saepe placeat
      odio earum beatae deleniti commodi labore officia voluptas, aut quidem provident. Similique omnis
      perspiciatis quam.
      <br><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque necessitatibus aperiam earum laudantium
      atque, nulla eaque cum odio optio totam pariatur ratione ab porro sunt quisquam suscipit officia magnam
      tenetur.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis repellendus harum, reprehenderit
      beatae accusamus ullam cum, quod dicta ipsam ex est voluptatum. Velit recusandae illo ipsa sapiente vitae
      cupiditate natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae maxime nisi quas natus saepe placeat
      odio earum beatae deleniti commodi labore officia voluptas, aut quidem provident. Similique omnis
      perspiciatis quam.

      <br><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque necessitatibus aperiam earum laudantium
      atque, nulla eaque cum odio optio totam pariatur ratione ab porro sunt quisquam suscipit officia magnam
      tenetur.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis repellendus harum, reprehenderit
      beatae accusamus ullam cum, quod dicta ipsam ex est voluptatum. Velit recusandae illo ipsa sapiente vitae
      cupiditate natus.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae maxime nisi quas natus saepe placeat
      odio earum beatae deleniti commodi labore officia voluptas, aut quidem provident. Similique omnis
      perspiciatis quam.
    </p>
  </div>
  <script src="/js/parallax.js"></script>
</body>

</html>*@




