@model ThePie.Models.Comic

@{
  ViewData["Title"] = "Edit";
}

<body class="edit-comics-page">

  <div class="homeTitle animate__animated animate__backInUp">
    Something wrong?!
  </div>
  <div class="row editpage">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="id" />
      <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AuthorId" class="control-label"></label>
        <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PublisherId" class="control-label"></label>
        <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
        <span asp-validation-for="PublisherId" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PosterId" class="control-label"></label>
        <select asp-for="PosterId" class="form-control" asp-items="ViewBag.PosterId"></select>
        <span asp-validation-for="PosterId" class="text-danger"></span>
      </div>
      @*<div class="form-group">
          <label asp-for="Author.Name" class="control-label"></label>
          <select asp-for="Author.Name" class="form-control" asp-items="ViewBag.AuthorName"></select>
          <span asp-validation-for="Author.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Publisher.Name" class="control-label"></label>
          <select asp-for="Publisher.Name" class="form-control" asp-items="ViewBag.PublisherName"></select>
          <span asp-validation-for="Publisher.Name" class="text-danger"></span>
        </div>*@
      <div class="form-group">
        <label asp-for="ReleaseDate" class="control-label"></label>
        <input asp-for="ReleaseDate" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AgeRating" class="control-label"></label>
        <input asp-for="AgeRating" class="form-control" />
        <span asp-validation-for="AgeRating" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
      </div>
      <p>
        <a asp-action="Index" class="btn btn-dark"> <i class="fas fa-hand-point-left"></i> &nbsp;Take a step back!</a>
      </p>
    </form>
  </div>
</body>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}